
a {
  color: inherit;
  text-decoration: none;
}
html
{
	scroll-behavior: smooth;
	 overflow: auto;
}
body
{
	background-color:#0f0b0f;
	margin:0;
	 overflow: auto;
}

.topMenu
{
background-color:white;
width:100%;
height:7%;
border-radius: 25px;
float:left;

  position: fixed;
top: 1px;
}
#menu
{
	width:100%;
	height:500px;
	float:left;
	display:none; 
	 background-color: rgba(26,26,26, 0.9);
}
ul.menuFrame{
	color:white;
	font-size:60px;
	font-family: 'Orbitron', sans-serif;
	padding:1%;
	text-align: center;
	 list-style-type: none;
	border-top: 1px;
	border-bottom:1px;
	border-color:white;
	 margin: 0;
	padding: 1%;
	
}
.menuText{
	font-size:60px;
	font-family:arial;
	padding:1%;
	text-align: center;
}
.title
{
background-color:white;
width:100%;
height:7%;
margin-top:5%;
float:left;
margin-bottom:3%;
}
.titleText
{
font-size:6em;
font-family: 'Cantarell', sans-serif;
margin-left:1%;
font-weight: bold;
text-align: center;
}
.articleTittle
{
	font-size:3em;
	color:white;
	text-align:center;
	font-family: 'Staatliches', cursive;

}

.news1
{
	background-image:url("news.jpg");
	border-radius: 25px;
	background-size: cover;
	width:96%;
	height:30%;
	margin-top:3%;
	float:left;
	display:inline;
	padding:2%;

}
.news2
{
	background-image:url("news.jpg");
	border-radius: 25px;
	background-size: cover;
	width:96%;
	height:30%;
	margin-top:3%;
	float:left;
	display:inline;
	padding:2%;

}
.news3
{
	background-color:#595959;
	width:96%;
	height:30%;
	margin-top:3%;
	opacity:0.4;
	text-align:center;
	font-size:60px;
	color:white;
	float:left;
	display:inline;
	padding:2%;

}
#photoTeam
{
	background-image:url("justynka.jpg");
	background-size: cover;
	width:100%;
	height:100%;
	margin-bottom:3%;
	float:left;
	cursor: pointer;
}
#photoTeam2
{
	
	background-image:url("daniel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	cursor: pointer;
	float:left;
}
.photoTeamTextFrame
{
	width:100%;
	height:50%;
	background-color:rgba(0, 0, 0, .7);
	margin-top:90%;
	display:none;
}
.photoTeamText
{
	font-size:2em;
	color:white;
	font-family: 'Judson', serif;
	text-align:center;
	padding:1%;
}
.cardFrame
{
	width:48%;
	height:30%;
	background-color:#383838;
	float:left;
	margin-top:5%;
	border-radius: 25px;
	margin:1%;
}
.ColorYouTube
{
	color:red;
}.ColorFacebook
{
	color:blue;
}
#HomeScroll
{
width:1%;
height:1%;
}
#RelacjeScroll
{
width:100%;
height:100%;
}
#KontaktScroll
{
width:100%;
height:100%;
}

.kontaktFrame
{
width:100%;
height:35%;
background-color:rgba(28, 28, 27, .7);	
float:left;
margin-top:1%;
margin-bottom:2%;
color:white;
font-size:2em;
text-align: center;
font-family: 'Cantarell', sans-serif;

}
.kontaktOption
{
	width:100%;
height:20%;
background-color:rgba(28, 28, 27);	
float:left;
color:white;
font-size:2em;
text-align: justify;
font-family: 'Cantarell', sans-serif;
}
#kontaktOptionIMG
{
	width:100%;
height:40%;
background-color:rgba(28, 28, 27);	
float:left;
font-size:50px;
text-align: justify;

}
/* Media querries */


@media only screen and (min-width: 410px)
{
.container
	{
		
	width:960px;
	height:max-height;
	padding-right: 10px;
	padding-left:  10px;
	padding-top:10px;
	margin-top:5%;
	margin-right: auto;
	margin-left:  auto;
	align:center;
  
	}
}	
@media only screen and (min-width: 410px)
{
.kontaktOption
	{
		font-size:1.3em;
	}
}
@media only screen and (min-width: 460px)
{
.titleText
	{
		font-size:3em;
	}
}
@media only screen and (min-device-width: 460px)
{
	
}



